[Unit]
Description=Xephyr at display %i
Documentation=man:Xephyr(1)

[Service]
Environment="DISPLAY=:0"
ExecStart=/usr/bin/start-xephyr %i
SuccessExitStatus=0 1
