Source: #PACKAGE#
Section: misc
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#

Package: #PACKAGE#-desktop
Architecture: any
Depends: autoconf,
         automake,
         bash-completion,
         blueman,
         borgbackup,
         build-essential,
         command-not-found,
         console-setup,
         curl,
         debootstrap,
         deluge,
         dunst,
         firefox-esr,
         fonts-cantarell,
         fonts-dejavu,
         fonts-ipafont,
         fonts-liberation,
         fonts-vlgothic,
         gdebi,
         git,
         gnupg,
         graphicsmagick-imagemagick-compat,
         gtk-chtheme,
         htop,
         i3,
         i3status,
         inetutils-ping,
         iproute2,
         keepass2,
         less,
         libnotify-bin,
         lightdm,
         light-locker,
         locales,
         lxappearance,
         mpv,
         neovim,
         net-tools,
         network-manager,
         network-manager-gnome,
         openssh-client,
         p7zip-full,
         pasystray,
         pcmanfm,
         pinentry-gtk2,
         pulseaudio,
         pulseaudio-module-bluetooth,
         pulseaudio-module-jack,
         pulseaudio-module-lirc,
         pulseaudio-module-raop,
         pulseaudio-module-zeroconf,
         pulseaudio-utils,
         python3-pip,
         python3-setuptools,
         python3-wheel,
         python-pip,
         python-setuptools,
         python-wheel,
         qt4-qtconfig,
         rofi,
         rxvt-unicode-256color,
         silversearcher-ag,
         smplayer,
         socat,
         sudo,
         systemd-container,
         tmux,
         ubuntu-archive-keyring,
         udiskie,
         ufw,
         unzip,
         usbutils,
         wget,
         xorg,
         xsel,
         zbar-tools,
         zip,
         ${shlibs:Depends},
         ${misc:Depends}
Description: #PACKAGE#-desktop meta package
 Metapackage for my preferred window manager + applications.
