Source: #PACKAGE#
Section: misc
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#


Package: #PACKAGE#-base
Architecture: any
Depends: bash-completion,
         borgbackup,
         command-not-found,
         console-setup,
         curl,
         debootstrap,
         gdebi,
         gnupg,
         htop,
         inetutils-ping,
         iproute2,
         less,
         libnotify-bin,
         locales,
         neovim,
         net-tools,
         network-manager,
         openssh-client,
         p7zip-full,
         silversearcher-ag,
         socat,
         sudo,
         systemd-container,
         tmux,
         ubuntu-archive-keyring,
         ufw,
         unzip,
         usbutils,
         wget,
         zip,
         ${shlibs:Depends},
         ${misc:Depends}
Description: #PACKAGE#-base meta package
 Basic software I use in a Debian system.


Package: #PACKAGE#-devel
Architecture: any
Depends: autoconf,
         automake,
         build-essential,
         bzr,
         cmake,
         git,
         python3-setuptools,
         python3-wheel,
         python3-stdeb,
         python-setuptools,
         python-wheel,
         #PACKAGE#-base,
         ${shlibs:Depends},
         ${misc:Depends}
Description: #PACKAGE#-devel meta package
 Tools for software development


Package: #PACKAGE#-desktop
Architecture: any
Depends: deluge,
         firefox-esr,
         fonts-cantarell,
         fonts-dejavu,
         fonts-ipafont,
         fonts-liberation,
         fonts-vlgothic,
         graphicsmagick-imagemagick-compat,
         gtk-chtheme,
         i3,
         i3status,
         keepass2,
         lightdm,
         light-locker,
         lxappearance,
         mpv,
         network-manager-gnome,
         pasystray,
         pavucontrol,
         pcmanfm,
         pinentry-gtk2,
         qt4-qtconfig,
         rofi,
         rxvt-unicode-256color,
         smplayer,
         xorg,
         xsel,
         zbar-tools,
         #PACKAGE#-devel,
         ${shlibs:Depends},
         ${misc:Depends}
Description: #PACKAGE#-desktop meta package
 My preferred X window manager + applications.


Package: #PACKAGE#-desktop-baremetal
Architecture: any
Depends: blueman,
         dunst,
         libvirt-daemon-system,
         pulseaudio,
         pulseaudio-module-bluetooth,
         pulseaudio-module-jack,
         pulseaudio-module-lirc,
         pulseaudio-module-raop,
         pulseaudio-module-zeroconf,
         pulseaudio-utils,
         qemu-kvm,
         udiskie,
         virt-manager,
         xserver-xephyr,
         #PACKAGE#-desktop,
         ${shlibs:Depends},
         ${misc:Depends}
Description: #PACKAGE#-desktop meta package
 Only stuff I install on bare metal and not on containers/VMs.
